<div class="container">
  <div>
    <h2>Follower Users</h2>
    <% if @users.exists?%>
    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|%>
        <tr>
          <td><%=attachment_image_tag(user, :profile_image, :fill,50,50,fallback:"no-image-icon.jpg")%></td>
          <td><%=user.name%></td>
          <td><%=user.followings.count%></td>
          <td><%=user.followers.count%></td>
          <td><%=link_to 'Show',user_path(user)%></td>

        </tr>
        <%end%>
      </tbody>
      </table>
     <table>
      <%else%>
     <td>ユーザーがいません</td>
      <%end%>
 </div>
</div>


