<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info',user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @new_book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
  		    <td><%= link_to user_path(@book.user) do %>
            <%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>
          <td><%=render 'favorites/favorite',book: @book%></td>
          <td>コメント数<%=@book.book_coments.count%></td>
          <%if current_user.id==@user.id%>
          <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %></td>
          <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}"%></td>
        <%end%>
         </tr>
         </table>
         <table class="coment">
           <tbody>
         <tr>
          <%@book.book_coments.each do|book_coment|%>
          <td><%=attachment_image_tag(book_coment.user,:profile_image, :fill,100,100,fallback:"no-image-icon.jpg")%><br/>
          <%=book_coment.user.name%></td>
         <td> <%=book_coment.coment%></td>
         <%if current_user.id==book_coment.user.id%>
         <td><%=link_to 'Destroy',book_book_coment_path(book_coment.book,book_coment),method: :delete,class:"btn btn-sm btn-danger"%></td>
        </tr>
        <%end%>
        <%end%>
        </tbody>
        </table>
        <tr>
           <%=form_with(model:[@book,@book_coment],local: true)do |f|%>
        <td><%=f.text_area:coment%><br>
          <%=f.submit "送信する"%></td>
          <%end%>
          </tr>
      </div>
</div>